.box {
  width: 250px;
  height: 250px;
  border: 2px solid black;
}

body {
  background-color: rgb(245 243 243);
}
.App {
  padding: 10px;
}
input {
  margin-bottom: 5px;
}
img {
  width: 30vw;
  height: auto;
  margin-right: 50px;
}
p {
  /* width: 50vw; */
}
.display-flex {
  display: flex;
}
.progress-label {
  margin-bottom: 5px;
}
.progress-bar {
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 50vw;
}
.progress {
  background-color: rgb(0, 255, 170);
  width: 0%;
  height: 10px;
}

.App {
  text-align: center;
}

.App-image {
  width: 60vmin;
  pointer-events: none;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: white;
}

.text-box {
  background: #fff;
  color: #333;
  border-radius: 5px;
  text-align: center;
}
.container{
 max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.group {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  border-style: dotted;
  border-width: 2px;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  height: 300px;
 
  margin: 5rem 0 2rem 0;
  position: relative;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
.file-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  gap: 0.5rem;
}

.upload-icon {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  font-size: 1.875rem;
  line-height: 2.25rem;
  display: block;
}

.upload-text {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.upload {
  width: 0;
  height: 0;
}

.dispaly-image {
  height: 100%;
}

.uploaded-image {
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}
.delete-icon {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  font-size: 1.875rem;
  line-height: 2.25rem;
  display: block;
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

.btn{
 background-color: rgb(16 185 129);
 color: white;
 padding: 7px 20px;
 border-radius: 20px;
 font-weight: bold;
 font-size: 1.2rem;
 border: none;
 cursor: pointer;
 margin-bottom: 2rem;
}
.btn:hover{
  background-color: rgb(11, 151, 104);
}
.textbox{

  padding: 8px 10px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
  min-width: 700px;
}

.header{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
 background: #959595;
background: linear-gradient(to right, #959595 0%, #212020 12%, #2f2d2d 50%, #2e2c2c 53%, #4E4E4E 76%, #383838 87%, #2e2c2c 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 480px) {
  .header{
    font-size: 28px;
  }
  .container{
    max-width: 400px;
  }
  .group{
    margin: 2rem auto;
    max-width: 300px;
  }
}
